@use "sass:color";

$color-primary: hsl(350, 83%, 53%);
$color-layout: color.scale($color-primary, $saturation: -70%);

@mixin light {
  --color-layout-90: #{color.scale($color-layout, $lightness: -80%)};
  --color-layout-80: #{color.scale($color-layout, $lightness: -60%)};
  --color-layout-70: #{color.scale($color-layout, $lightness: -40%)};
  --color-layout-60: #{color.scale($color-layout, $lightness: -20%)};
  --color-layout-50: #{$color-layout};
  --color-layout-40: #{color.scale($color-layout, $lightness: 40%)};
  --color-layout-30: #{color.scale($color-layout, $lightness: 70%)};
  --color-layout-20: #{color.scale($color-layout, $lightness: 90%)};
  --color-layout-10: #{color.scale($color-layout, $lightness: 98%)};

  --color-primary-90: #{color.scale($color-primary, $lightness: -80%)};
  --color-primary-80: #{color.scale($color-primary, $lightness: -60%)};
  --color-primary-70: #{color.scale($color-primary, $lightness: -40%)};
  --color-primary-60: #{color.scale($color-primary, $lightness: -20%)};
  --color-primary-50: #{$color-primary};
  --color-primary-40: #{color.scale($color-primary, $lightness: 20%)};
  --color-primary-30: #{color.scale($color-primary, $lightness: 40%)};
  --color-primary-20: #{color.scale($color-primary, $lightness: 60%)};
  --color-primary-10: #{color.scale($color-primary, $lightness: 80%)};
}

@mixin dark {
  --color-layout-90: #{color.scale($color-layout, $lightness: 80%)};
  --color-layout-80: #{color.scale($color-layout, $lightness: 60%)};
  --color-layout-70: #{color.scale($color-layout, $lightness: 40%)};
  --color-layout-60: #{color.scale($color-layout, $lightness: 20%)};
  --color-layout-50: #{$color-layout};
  --color-layout-40: #{color.scale($color-layout, $lightness: -30%)};
  --color-layout-30: #{color.scale($color-layout, $lightness: -60%)};
  --color-layout-20: #{color.scale($color-layout, $lightness: -80%)};
  --color-layout-10: #{color.scale($color-layout, $lightness: -90%)};

  --color-primary-90: #{color.scale($color-primary, $lightness: 80%)};
  --color-primary-80: #{color.scale($color-primary, $lightness: 60%)};
  --color-primary-70: #{color.scale($color-primary, $lightness: 40%)};
  --color-primary-60: #{color.scale($color-primary, $lightness: 20%)};
  --color-primary-50: #{$color-primary};
  --color-primary-40: #{color.scale($color-primary, $lightness: -20%)};
  --color-primary-30: #{color.scale($color-primary, $lightness: -40%)};
  --color-primary-20: #{color.scale($color-primary, $lightness: -60%)};
  --color-primary-10: #{color.scale($color-primary, $lightness: -80%)};
}

:root {
  @include light;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}

.light-theme {
  @include light;
}

.dark-theme {
  @include dark;
}
